.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    font-size: 14px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info span {
    margin-right: 15px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions span {
    margin-left: 15px;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.logo-container img {
    height: 30px;
    margin: 0 10px;
}

.top-navbar{
    color: black;
}
.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 30px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #007bff;
}
